@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(254, 231, 254);
  background: linear-gradient(
    90deg,
    rgba(254, 231, 254, 1) 0%,
    rgba(218, 252, 252, 1) 100%
  );
}
